@model IEnumerable<Basketball7.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-top:75px;">Player Profiles</h2>

<p>
    <a asp-action="Create">Add Player</a>
</p>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jersey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.College)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DraftYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" height="50" />
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jersey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighSchool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.College)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DraftYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
